#home-banner {
	min-height: 600px;
	background-color: #999;
	margin-bottom: 70px;
	background-position: center;
	background-size: cover;
}

#home-banner .banner-title-wrapper {
	display: flex;
	min-height: 600px;
	align-items: center;
	justify-content: center;
}

#home-banner .banner-title {
	text-align: center;
	color: #fff;
}

#home-banner .banner-title-inner {
	text-align: center;
	color: #fff;
}

#home-banner h1.banner-title {
	font-size: 100px;
	font-weight: normal;
}

#home-banner .banner-subtitle {
	font-size: 22px;
}

#home-banner .banner-article-title {
	background-color: rgba(0,0,0,0.3);
}

#home-banner .banner-article-title a {
	color: #fff;
	display: block;
	padding: 18px 0 18px 2rem;
}